* {
    box-sizing: border-box;
    padding: 0px 15px;
}

body {
    margin: 0;
}

/*
網頁標題
*/
h1 {
    background-color: #BB9A88;
    color: rgb(58, 74, 89);
    text-align: center;
    text-shadow: 3px 3px 3px #cccccc;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
}

/*
網頁選項按鈕
*/
.link {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #CAC6BD;
}

.about {
    color: floralwhite;
    background-color: #979D6E;
    /* flex: none; */
    position: relative;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(117, 115, 115, 0.626) 0px 5px 10px;
}

.exps {
    color: floralwhite;
    background-color: #979D6E;
    /* flex: none; */
    position: relative;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(117, 115, 115, 0.626) 0px 5px 15px;
}

.media {
    color: floralwhite;
    background-color: #979D6E;
    /* flex: none; */
    position: relative;
    bottom: 0px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(117, 115, 115, 0.626) 0px 5px 15px;
}

.medimg {
    justify-content: flex-end;
    position: absolute;
    display: flex;
    transition: all .6s ease-in-out;
}

.icon {
    font-size: 22px;
    color: rgb(255, 220, 155);
}

/*
網頁內容
*/
.main {
    text-align: center;
    padding: 10px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.qformt {
    background-color: #BB9A88;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;

}

.ans {
    background-color: #CAC6BD;
    padding: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.back {
    color: floralwhite;
    background-color: #979D6E;
    flex: none;
    width: 300px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(117, 115, 115, 0.626) 0px 5px 15px;
    cursor: pointer;
    position: relative;
    bottom: 0px;
}

/*
hover 樣式
*/

.about:hover {
    background-color: rgb(36, 101, 57);
    color: floralwhite;
    bottom: 3px;
    box-shadow: #150a0a4b 4px 9px 17px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.exps:hover {
    background-color: rgb(36, 101, 57);
    color: floralwhite;
    bottom: 3px;
    box-shadow: #150a0a4b 4px 9px 17px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-weight: bold;

}

.media:hover {
    background-color: rgb(36, 101, 57);
    color: floralwhite;
    bottom: 3px;
    box-shadow: #150a0a4b 4px 9px 17px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-weight: bold;

}

.back:hover {
    color: floralwhite;
    box-shadow: #150a0a4b 4px 9px 17px;
    bottom: 3px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(24, 95, 40);
}

.icon:hover {
    font-size: 28px;
    color: rgb(2, 171, 205);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

/* a標籤*/

a {
    text-decoration: none;
}

a:visited {
    color: rgb(42, 175, 201);
}

a:hover {
    color: rgb(0, 119, 255);
}

/* media query */

@media (max-width :576px) {
    * {
        box-sizing: border-box;
        padding: 0px 15px;
    }

    body {
        margin: 0;
    }

    h1 {
        font-size: 25px;
    }

    .link {
        display: contents;
        justify-content: space-between;
        padding: 15px;
        background-color: #CAC6BD;
    }

    .main {
        padding-top: 15px;
    }

    .about,
    .exps,
    .media {
        font-size: 17px;
        margin: 10px;
    }

    .back {
        width: auto;
        font-size: 17px;
        align-items: center;
    }

    .medimg {
        display: flex;
        position: relative;
    }

    .icon {
        font-size: 19px;
    }

    .icon:hover {
        font-size: 23px;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: rgb(42, 175, 201);
    }

    a:hover {
        color: rgb(0, 119, 255);
    }
}